


<%if(locals.user){%>
    <div id="user-chat-box">
        <ul id="chat-messages-list">
            <li class="other-message">
                <span>Other Messages</span>
            </li>
            <li class="self-message">
                <span>
                    Self Messages
                </span>
            </li>
        </ul>
        <div id="chat-message-input-container">
            <input id="chat-message-input" placeholder="Type messages here">
            <button id="send-message">Send</button>
        </div>
    </div>
<% } %>