.Sign-page{
    text-align: center;
}

.google-signin{
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    margin-top: 50px;
    color: black;
    border: 1px solid rgb(214,226,243);
}
#g{
    font-size: 18px;
    color: rgb(62,126,232);
}
#g:hover{
    padding: 2px;
    color: rgb(62,126,232);
}
#o1, #e{
    font-size: 18px;
    color: rgb(223,62,50);
}
#o1, #e:hover{
    padding: 2px;
    color: rgb(223,62,50);
}
#o2{
    font-size: 18px;
    color: rgb(235,177,64);
}
#o2:hover{
    padding: 2px;
    color: rgb(235,177,64);
}
#l{
    font-size: 18px;
    color: rgb(72,160,79);
}
#l:hover{
    padding: 2px;
    color: rgb(72,160,79);
}

// #e{
//     font-size: 18px;
// }